USE [360TabsAndMenus]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/17/2015 21:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'BigBos')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'SuperUser')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[User]    Script Date: 12/17/2015 21:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [RoleID]) VALUES (1, N'Admin', N'admin', N'admin1234', 1)
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [RoleID]) VALUES (2, N'Khaled Sayed', N'ksayed', N'ksayed123', 1)
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [RoleID]) VALUES (3, N'Samer Al-Kordi', N'samer', N'samer123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Tab]    Script Date: 12/17/2015 21:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tab] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tab] ON
INSERT [dbo].[Tab] ([ID], [Title], [RoleID], [IsActive]) VALUES (1, N'Operations', 2, 1)
INSERT [dbo].[Tab] ([ID], [Title], [RoleID], [IsActive]) VALUES (2, N'Fraud Management', 2, 1)
INSERT [dbo].[Tab] ([ID], [Title], [RoleID], [IsActive]) VALUES (3, N'Operations', 2, 0)
SET IDENTITY_INSERT [dbo].[Tab] OFF
/****** Object:  Table [dbo].[Menu]    Script Date: 12/17/2015 21:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TabID] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[PageIcon] [nvarchar](250) NULL,
	[URL] [nvarchar](max) NOT NULL,
	[IsDropDown] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[JobID] [nvarchar](250) NULL,
	[Ordering] [tinyint] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([ID], [TabID], [ParentID], [RoleID], [Title], [PageIcon], [URL], [IsDropDown], [IsActive], [JobID], [Ordering]) VALUES (1, 1, -1, 2, N'Daily', N'fa-bar-chart-o', N'Operations_Daily/Operations_Daily.aspx', 0, 1, NULL, 252)
INSERT [dbo].[Menu] ([ID], [TabID], [ParentID], [RoleID], [Title], [PageIcon], [URL], [IsDropDown], [IsActive], [JobID], [Ordering]) VALUES (2, 1, -1, 2, N'History', N'fa-bolt', N'Operations_History/Operations_History.aspx', 0, 1, NULL, 253)
INSERT [dbo].[Menu] ([ID], [TabID], [ParentID], [RoleID], [Title], [PageIcon], [URL], [IsDropDown], [IsActive], [JobID], [Ordering]) VALUES (4, 2, -1, 2, N'Overview', N'fa-clock-o ', N'Alarm/Alarm.aspx', 0, 1, NULL, 254)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[Log]    Script Date: 12/17/2015 21:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Operation] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON
INSERT [dbo].[Log] ([ID], [UserID], [Operation], [Date]) VALUES (1, 1, N'Login', CAST(0x0000A4B700E73E7B AS DateTime))
INSERT [dbo].[Log] ([ID], [UserID], [Operation], [Date]) VALUES (2, 25, N'Login', CAST(0x0000A4B8009853A8 AS DateTime))
INSERT [dbo].[Log] ([ID], [UserID], [Operation], [Date]) VALUES (3, 21, N'Login', CAST(0x0000A4B800A85554 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
GO
print 'Processed 5100 total records'
GO
print 'Processed 5200 total records'
GO
print 'Processed 5300 total records'
GO
print 'Processed 5400 total records'
GO
print 'Processed 5500 total records'
GO
print 'Processed 5600 total records'
GO
print 'Processed 5700 total records'
GO
print 'Processed 5800 total records'
GO
print 'Processed 5900 total records'
GO
print 'Processed 6000 total records'
GO
print 'Processed 6100 total records'
GO
print 'Processed 6200 total records'
GO
print 'Processed 6300 total records'
GO
print 'Processed 6400 total records'
GO
print 'Processed 6500 total records'
GO
print 'Processed 6600 total records'
SET IDENTITY_INSERT [dbo].[Log] OFF
/****** Object:  ForeignKey [FK_Log_User]    Script Date: 12/17/2015 21:49:43 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User]
GO
/****** Object:  ForeignKey [FK_Menu_Role]    Script Date: 12/17/2015 21:49:43 ******/
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Role]
GO
/****** Object:  ForeignKey [FK_Tab_Role]    Script Date: 12/17/2015 21:49:43 ******/
ALTER TABLE [dbo].[Tab]  WITH CHECK ADD  CONSTRAINT [FK_Tab_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Tab] CHECK CONSTRAINT [FK_Tab_Role]
GO
/****** Object:  ForeignKey [FK_User_Role]    Script Date: 12/17/2015 21:49:43 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
